<!DOCTYPE HTML>
<html lang="nb">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <link type="text/css" media="screen" href="/matchprofil/public/css/styles.css" rel="stylesheet"/>
</head>
<body id="app">
    <div>
        <main id="main-content">
            <div id="reactApp">Hello World</div>
        </main>
    </div>
</body>
</html>
