<!DOCTYPE html>
<html lang="nb">
<head>
    <title>Ikke funnet - Arbeidsplassen</title>
    <meta name="description" content="Siden ble ikke funnet"/>
</head>
<body>
<div class="push-footer-down">
    <main id="main-content" class="container-small mt-4 mb-4">
        <article class="rich-text text-center">
            <h1>
                Fant ikke siden
            </h1>
            <p>
                Beklager, siden kan være slettet eller flyttet, eller det var en feil i lenken
                som førte deg hit.
            </p>
            <p>
                <a href="/">Gå til forsiden</a>
            </p>
        </article>
    </main>
</div>
</body>
</html>
